* {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}

.hide {
    display: none;
}

main {
    display: flex;
}

/******************* Shared Box Styles to Reduce Code *******************/
#box-purple, #box-yellow, #box-green, #box-blue, #box-1, #box-1-last, #box-2, #box-2-last, #box-3, #box-3-last, #box-4, #box-4-last {
    width: 50%;
    height: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:url('images/hand-cursor.gif');
}

#box-purple p, #box-yellow p, #box-green p, #box-blue p {
    font-size: 4.5rem;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#box-1, #box-1-last, #box-2, #box-2-last, #box-3, #box-3-last, #box-4, #box-4-last {
    background-color: #fff;
    background-image: url('images/paper-background.jpg');
}

#box-1 p, #box-1-last p, #box-2 p, #box-2-last p, #box-3 p, #box-3-last p, #box-4 p, #box-4-last p {
    font-size: 8rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#box-1 p, #box-2 p, #box-3 p, #box-4 p {
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: #fff;
    padding: 1% 10%;
    border-radius: 110px;
}

#directions {
    position: absolute;
    z-index: 10000000;
    width: 100%;
    background-color: #000;
    color: #fff;
    height: 5%;
    text-align: center;
}

#directions-p {
    font-size: 2rem;
}

footer {
        position: absolute;
        bottom: 0;
        z-index: 10000000;
        width: 100%;
        background-color: #000;
        height: 5%;
        text-align: center;
        margin: auto;
}

footer p {
       font-size: 1.5rem;
       color: #fff;
       padding-top: 1%;
}

footer p a {
    text-decoration: none;
}
/*******************Top Right Boxes*******************/

#box-purple {
    left: 0;
    background-color: #971fbf;
}

#box-purple p {
    transform: rotate(-30deg);
}

#box-1, #box-1-last {
    left: 0;
}

#box-1-last p {
    color: #971fbf;
    transform: rotate(-30deg);
}

#box-1 p {
    color: #fff;
    background-color: #971fbf;
    padding: 1% 10%;
    border-radius: 110px;
    transform: rotate(-30deg);
}

#box-2 p {
    color: #fff;
    background-color: #f2ce0f;
    padding: 1% 10%;
    border-radius: 110px;
    transform: rotate(30deg);
}

#box-3 p {
    color: #fff;
    background-color: #4b0ff2;
    padding: 1% 10%;
    border-radius: 110px;
    transform: rotate(130deg);
}

/*******************Top Left Boxes*******************/

#box-yellow {
    right: 0;
    background-color: #f2ce0f;
}

#box-yellow p {
    font-size: 4.5rem;
    color: white;
    transform: rotate(30deg);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#box-2, #box-2-last {
    right: 0;
}

#box-2-last p {
    color: #f2ce0f;
    transform: rotate(30deg);
}

#box-4 p {
    color: #fff;
    background-color: #91c752;
    transform: rotate(-130deg);
}

/*******************Bottom Right Boxes*******************/

#box-blue {
    right: 0;
    bottom: 0;
    background-color: #4b0ff2;
}

#box-blue p {
    font-size: 4.5rem;
    color: white;
    transform: rotate(130deg);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#box-3, #box-3-last {
    right: 0;
    bottom: 0;
}

#box-3-last p {
    color: #4b0ff2;
    transform: rotate(130deg);
}

/*******************Bottom Left Boxes*******************/

#box-green {
    left: 0;
    bottom: 0;
    background-color: #91c752;
}

#box-green p {
    font-size: 4.5rem;
    color: white;
    transform: rotate(-130deg);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

#box-4, #box-4-last {
    left: 0;
    bottom: 0;
}

#box-4-last p {
    color: #91c752;
    transform: rotate(-130deg);
}

/*******************Fortune Message*******************/

#message {
    background: linear-gradient(120deg, #971fbf, #4b0ff2, #91c752, #f2ce0f);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.message-div {
    padding: 5%;
    background-color: #fff;
    border-radius: 5px;
}

#message p {
   font-size: 2.5rem;
   color: #000;
}

button {
    margin-top: 20px;
    padding: 10px;
}

button a {
    text-decoration: none;
    font-size: 1rem;
}
